.widgets {
    flex: 0.23;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.widgets__input {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin: 20px 10px 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--twitter-background);
    border: 2px solid var(--twitter);
}

.widgets__input>input {
    flex: 1;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    background-color: var(--twitter-background);
}

.widgets__widgetContainer {
    flex: 1;
    overflow-y: scroll;
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    background-color: var(--twitter-background);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-bottom: 30px;
    /* max-height: 550px; */
}

.widgets__widgetContainer>h2 {
    font-size: 18px;
    font-weight: 700;
    padding: 10px;
    background-color: var(--twitter);
    color: white;
    border-radius: 15px;
    max-width: fit-content;
}

.widgets__widgetContainer::-webkit-scrollbar {
    width: 10px;
    background-color: var(--twitter-background);
}

.widgets__widgetContainer::-webkit-scrollbar-thumb {
    background-color: var(--twitter);
    border-radius: 5px;
}

.widgets__widgetContainerTimeline {
    border: 2px solid var(--twitter);
    border-radius: 10px;
    max-width: fit-content;
    padding: 10px;
}