.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #000000;
    background-image: linear-gradient(0deg, #000000 0%, #2c3e50 74%);
    perspective: 1000px;
}

.login__container {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.login__card {
    min-height: 90vh;
    width: 15rem;
    box-shadow: 0px 20px 25px rgba(37, 201, 247, 0.2),
        0px 0px 50px rgb(0, 86, 206);
    border-radius: 30px;
    padding: 0rem 5rem;
}

.login__area {
    min-height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login__circle {
    width: 12rem;
    height: 12rem;
    background-image: linear-gradient(120deg, #b6a1fd 0%, #ffc16f 100%);
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}

.login__logo {
    width: 10rem;
    z-index: 2;
    transition: all 0.75s ease-out;
}

.login__text {
    position: relative;
}

.login__hello {
    font-size: 3.5rem;
    color: var(--twitter-background);
}

.login__Ano__Container {
    width: fit-content;
    padding-right: 50px;
    font-size: 1.32rem;
}

.login__anonymous {
    -webkit-text-stroke: 0vw #000;
    color: #fff;
}

.login__anonymous::before {
    content: 'Anonymous';
    position: absolute;
    left: 0;
    width: 0;
    color: var(--twitter);
    -webkit-text-stroke: 0vw #000;
    border-right: 2px solid var(--twitter);
    overflow: hidden;
    animation: animate 3.5s linear infinite;
}

@keyframes animate {

    0%,
    10%,
    100% {
        width: 0;
    }

    70%,
    90% {
        width: 100%;
    }
}

.login__please {
    font-size: 1.3rem;
    color: var(--twitter-background);
}

.signIn__Button {
    margin-top: 50px;
}

.signIn__logo {
    width: 18px;
    height: 18px;
    padding-right: 10px;
}

@media screen and (max-width : 2561px) {
    .login__card {
        min-height: 70vh;
        min-width: 45rem;
        padding: 0rem 5rem;
    }

    .login__area {
        min-height: 30vh;
    }

    .login__circle {
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
    }

    .login__textArea {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .login__hello {
        font-size: 7rem;
    }

    .login__Ano__Container {
        width: fit-content;
        padding-right: 50px;
        font-size: 3rem;
    }

    .login__anonymous::before {
        max-width: fit-content;
    }

    .login__please {
        font-size: 3.3rem;
    }

    .signIn__Button {
        margin-top: 50px;
        height: 5em;
        width: 15em;
    }

    .signin__btn {
        width: 100% !important;
        height: 100% !important;
    }

    .signIn__logo {
        width: 30px;
        height: 30px;
    }

    .sign__btnText {
        font-size: 1.3em !important;
        font-weight: 700;
    }
}

@media screen and (max-width : 1025px) {
    .login__card {
        min-height: 70vh;
        min-width: 13rem;
        padding: 0rem 2.5rem;
    }

    .login__area {
        min-height: 33vh;
    }

    .login__circle {
        width: 10rem;
        height: 10rem;
    }

    .login__hello {}

    .login__Ano__Container {}

    .login__anonymous::before {}

    .login__please {}

    .signIn__Button {}

    .signin__btn {}

    .signIn__logo {}

    .sign__btnText {}
}